label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.container-content {
  margin-top: 2rem;
}

#postingdata {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#postingdata td, #postingdata th {
  border: 1px solid #ddd;
  padding: 8px;
}

#postingdata tr:nth-child(even){background-color: #f2f2f2;}

#postingdata tr:hover {background-color: #ddd;}

#postingdata th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.content-home {
  border-bottom: double;
  margin: 2rem;
}

.title-home-content {
  text-align: center;
  font-size: 2rem;
  color: rgb(92, 92, 240);
}

.content-home-content {
  font-size: 1.3rem;
  color: black;
}